/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
[To do]
1. pc 브라우저일 때 화면 가로로 배치
    a. img flex로 가운데 정렬
    b. 각 price plan 별 h2도 img 바로 밑에 flex로 가운데 정렬
    c. ul, li도 마찬가지 (글씨 색은 파랑색 + 구분선 추가)
    d. ul, li 밑에 가격 정렬 (파랑색에, bold 처리)
    e. 가격표 밑에 버튼 배치 (:hover를 사용하여 커서가 올라가면 파랑색으로 변경되게 설정) 
2. 모바일 화면에선 세로로 배치

*/




/* flexbox는 자식 요소를 배치하는 도구인데, img 태그는 자식을 가질 수 없는 Self-closing tag이기 때문에
   적용이 안됨.
img {
    display: flex;
    flex-direction: row;
} 
*/


/* 0. 배경 색 및 폰트 설정 */
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* 1-a. panel 자식 요소들 flexbox 컨테이너화 후 가로, 가운데로 정렬 */
.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

/* 
1-c. 
1) pricing features 새로로 가운데 정렬.
2) border 위 에만 적용(회색으로)
3) max-width 활용해서 공간 배정
*/


/* 1-b. pricing-header img 밑에 배치 밑 글자 색, 크기 조정 */

/* 1-d. 
1) pricing-plan 가운데로 정렬  
2) 가격표 위에 테두리 생성
*/
.pricing-plan{
    border-bottom: 1px solid #e1f1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: #016ff9;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: #48aaff;
    color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color: #269aff;
    color: white;
}


@media (min-width: 900px) {
    .panel {
        flex-direction: row;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}

